[user]
  name = Andrés Otárola
  email = andres@otarola.me
[color]
  ui = true
  branch = true
  diff = true
  status = true
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  m = merge --no-ff
  pr = remote prune origin
  s = status
  br = branch
  type = cat-file -t
  dump = cat-file -p
  ci = commit
  save = stash save
  pop = stash pop --index
  rh = reset --hard
  ls = branch -a
